.my-slider > .slick-list {
    padding: 1rem
} 

.arrow-prev {
    top: 50%;
    display: block;
    position: absolute;
    left: -25px;
}

.arrow-next {
    top: 50%;
    display: block;
    position: absolute;
    right: 15px;
}

.center-content {
    padding-right: 25px;
}
.center-content .ui.checkbox {
    padding-left: 20px;
}



@media (max-width: 1200px) {
    .arrow-next {
        right: -35px;
    }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 992px){
 .slick-slider .slick-track {
    left: 20px;
}   
}
