html, body, #root {
    height: 100%;
}

body {
    background-color: #F8F8F8
}

 .chart-container {
    position: relative;
    height:300px;
    width:100%;
    margin-top: 80px;
  }

.chart-container h2, .chart-container h3{
    margin-bottom:15px;
}

.section-revisoes .ui.checkbox{
    margin-right: 45px;
}

.btn-editar {
    background-color: #007f97 !important;
}

.dropdown.outros-assuntos , .dropdown.outros-cronogramas {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.modal .ui.container input{
    border :1px solid  #ddd !important;
}

.menu.transition.left.visible .item {
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.ui.ribbon.label{
    border-color: #025362;
}

.center-content {
    margin: 15px 0;
    align-items: center; 
    justify-content: center;
     display: flex
}

.slider-relatorios-artefatos .slick-track{
    min-height: 440px;
}

.ui.checkbox .box, .ui.checkbox label {
    display: inline;
}

@media (min-width: 360px) and (max-width: 667px) {
    .menu.transition.left.visible .item {
        width: 200px;
        height: 50px;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .ui.divided.selection.list .list>.item, .ui.divided.selection.list>.item{
        height: 40px;
        display: flex;
        align-items: center;
    }

    .center-content button{
        font-size: 1.2rem !important;
    }
    
    .center-content button .icon{
       font-size: 0;
    }
}

@media (min-width: 577px) and (max-width: 767px){
    .accordion .detail {
        max-width: 500px;
    }
}

@media (min-width: 377px) and (max-width: 576spx){
     .accordion .detail {
        max-width: 300px;
    }
}

@media (max-width: 376px){
     .accordion .detail {
        max-width: 200px;
    }
}

@media (max-width: 600px) {
    .dropdown.outros-assuntos, .dropdown.outros-cronogramas {
        display: block;
        width: 100%;
        min-width: 0;
    }

    .dropdown.outros-assuntos i, .dropdown.outros-cronogramas i{
        float: right;
        top: 4px;
    }

    .dropdown .menu {
        width: 100%;
    }
}